
body{
	padding: 0px;
	font-family: 'Poppins', sans-serif; 
}

.wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
}

.poster {
	width: 100%;
	margin-top: 10px;
}

.cj-navbar img {
	height: 60px;

}

.cj-navbar {
	display: flex;
	justify-content: space-around;
	background-color: rgb(133,180,206);
	align-items: center;
	height: 70px;
	width: 100%;
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid black; 
}

a:hover {
	color: #B05D0D;
	text-decoration: none;
}

.text-menu {
	color: white;
	font-family: 'Poppins', sans-serif;
}

.intitule {
	width: 100%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.banner {
	height: 70vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

.banner h2{
	text-align: center;
}

.banner-haut{
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(70vh - 150px);
}

.logo-banner {
	width: 200px;
}

.banner2 {
	height: 200px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

.titre-banner {
	color: white;
	position: relative;
	left: 10%;
	text-shadow: #355160 0 0 5px;
}

.picture {
	width: 200px;
	padding: 20px;
}

li {
	list-style: none;
}

h3 {
	font-size: 20px;
	color: black;
	text-align: center;
	padding-bottom: 30px;
}

.banner-presentation {
	height: 150px;
	background-color: rgba(79,115,134,0.3);
	display: flex;
	align-items: center;
}
 /*.banner-presentation {
	height: 150px;
	background-color: rgb(79,115,134);
	display: flex;
	align-items: center;
}*/

.icone-banner {
  font-size: 50px;
}

#portrait-jo {

	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}
#portrait-clo {
	display: flex;
	align-items: center;
}

span {
	color: grey;
}

.content{
	width: 100%;
}

.text-presentation {
	padding: 20px;
	text-align: justify;
}

.wrapper-posters {
	padding: 30px;
}
.contact-flex {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.contact-map{
	text-align: justify;
	width: 400px;
	padding-left: 20px;
	height : 100%;
	display: flex;
	flex-direction: column;
}

.contact-map p{
	padding-top: 10px;
}

.contact-form{
	border: 1px solid black;
	width: 100%;
}

.toolsbar{
	background-color: #FF9938;
  	width: 400px;
  	border-left: 1px solid black;
}
.text-toolsbar{
	width: 300px;
  	position: fixed;
  	padding: 0px 20px;
  	
  	
}

.toolsbar_icone{
	width: 70px;
	height: 70px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border:3px solid #355160;

}

.toolsbar_icone img{
	height: 80%;
}
.toolsbar-service{
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 10px;
}
.toolsbar_time {
	display: flex;
	justify-content: center;	
}

.toolsbar_time img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 5px solid #355160;
}
.toolsbar_time p {
	color: #355160;
	font-weight: bold;
	padding-top: 5px;
}
.text-toolsbar h4 {
	font-size: 15pt;
}

.toolsbar_telephone{
	text-align: center;
	padding: 5px;
}

.number{
	font-family: 'Poppins', sans-serif; 
	padding: 5px;
	color: black;
	font-weight: bold;
	font-size: 15pt;
}

.site-footer {
	width: 100%;
	background: #355160;
	border-top: 1px solid black;
	display: flex;
	justify-content: center
	z-index: 20;
}

.site-footer i{
	font-size: 40px;
	padding: 5px;
}

/*.fa-facebook {
	font-size: 45px;
	margin-left: 40px;	
}

.fa-twitter-square {
	font-size: 45px;
	
}
.fa-instagram {
	font-size: 45px;
}*/