


body{
	background-color: pink;
	color: #4B0082;
	font-family: 'Lobster Two', cursive;
	text-align: center;
}

h2{
	text-decoration: underline;
	font-size: 30pt;
}

.div_flex{
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

.icon_round{
	border: 5px solid;
	width: 80px;
	height: 80px;	
	vertical-align: middle;
  	background-color: white;
  	padding: 20px;
  	margin: 20px;
  	border-radius: 50%;
}

.icon_round i{
	font-size: 40pt;
}

.banner	{
	background-color: white;
	border-radius: 20px;
	padding: 20px;
}

.avatar{
	width: 15vw;
	height:15vw;
	border-radius: 50%;
	margin: 20px;
}

.container1{
 	border: 15px solid;
 	border-radius: 50px;
  	width: 60vw;
  	margin: auto;
  	margin-top: 20px;
  	background-color: rgba(255,255,222,0.8);
}

.arcenciel{
	border: 10px solid;
	border-radius: 50px;
	margin: -5px;
}

.arc1{
	border-color: red;
}

.arc2{
	border-color: orange;
}
.arc3{
	border-color: yellow;
}
.arc4{
	border-color: green;
}

.arc5{
	border-color: blue;
}

.arc6{
	border-color: purple;
}

.arcfinal{
	border-color: pink;
	padding: 10px;
}

ul{
	text-align: left;
	background-color: white;
	border-radius: 20px;
	padding: 20px;	
	list-style-type: none; 
	margin-bottom: 0px;
}

.section1{
	border: 2px solid purple;
	border-radius: 20px;	
	margin-bottom: 20px;
}

.banner-second {
	display:flex;
	height: 50vh;
	background-size: cover !important;
	background-position: center;
	background-attachment: fixed;
	justify-content: center;
	border-radius: 20px;	
	align-items : center;
}